# Environnement virtuel
ai_venv/
.venv/
venv/
env/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers secrets
.env

# Bases de données
*.duckdb
*.duckdb.wal
chroma_db/

# Logs
*.log

# Caches de Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Fichiers générés
*.csv
!data/descriptions.csv

# Streamlit
.streamlit/

# Langchain
langchain_cache/
